<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l4"><a href="index.html"><img src="http://materializecss.com/res/materialize.svg" alt="logo"></a></div>
        <div class="col input-field s12 m12 l4">
            <form>
                <div class="input-field red lighten-2 white-text z-depth-3">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons ">close</i>
                </div>
            </form>
        </div>
        <div class="col s12 m12 l4 right-align">
            <ul>
                <li><a class="grey-text text-darken-4" href="tel:+999-99-99">tel:+999-99-99</a></li>
                <li><a class="grey-text text-darken-4" href="tel:+999-99-99">tel:+999-99-99</a></li>
                <li><a class="grey-text text-darken-4" href="tel:+999-99-99">tel:+999-99-99</a></li>
            </ul>
        </div>
    </div>
</div>
